name: publish
permissions:
  packages: write
  contents: read
  
on:
  push:
    branches:
      - master
  workflow_dispatch: 

jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up docker
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the docker image
      run: |
        docker build . --tag ghcr.io/suchmememanyskill/discord-aliexpress-tracker:latest
        docker push ghcr.io/suchmememanyskill/discord-aliexpress-tracker:latest
